@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --GrayishBlue: hsl(237, 18%, 59%);
    --SoftRed: hsl(345, 95%, 68%);
    --White: hsl(0, 0%, 100%);
    --DarkdesaturatedBlue: hsl(236, 21%, 26%);
    --VeryDarkBlue: hsl(240, 21%, 22%);
    --VeryDarkblue2: hsl(234, 17%, 12%);
    --mask-bottom:
        radial-gradient(5px at 0 0, #0000 100%, #000) 0/51% 100% no-repeat,
        radial-gradient(5px at 100% 0%, #0000 100%, #000) 100%/51% 100% no-repeat;
    --mask-top:
        radial-gradient(5px at 0 100%, #0000 100%, #000) 0/51% 100% no-repeat,
        radial-gradient(5px at 100% 100%, #0000 100%, #000) 100%/51% 100% no-repeat;
}

* {
    box-sizing: border-box;
    font-family: 'Red Hat Text';
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-repeat: no-repeat, repeat;
    background-image: url('../images/pattern-hills.svg'),
        url('../images/bg-stars.svg'),
        linear-gradient(var(--VeryDarkblue2)10%,
            hsla(345, 95%, 68%, .1));
    background-color: var(--VeryDarkblue2);
    background-size: 100%;
    background-position: bottom 0px right 0px;
    display: grid;
    grid-template-rows: 80% 18% 2%;
    Font-size: 14px;
    overflow-x: hidden;
}

h1 {
    margin-top: 2rem;
    letter-spacing: 10px;
    font-size: 21px;
    text-transform: uppercase;
    color: var(--White);
    text-align: center;
}

.container {
    margin: auto;
}

.container_clock {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    text-align: center;
    margin-block: 7rem;
    gap: 2.5em;
}

.card {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    color: var(--SoftRed);
    font-size: 80px;
    font-weight: 700;
    width: 160px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px var(--VeryDarkblue2);
}

.top,
.bottom {
    height: .9em;
    line-height: 1;
    padding: .25em;
    padding-block: .4em;
    display: flex;
    justify-content: center;
}

.top {
    background-color: var(--VeryDarkBlue);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: flex-start;
    color: #d65074;
    -webkit-mask: var(--mask-top);
    mask: var(--mask-top);

}

.bottom {
    background-color: var(--DarkdesaturatedBlue);
    align-items: flex-end;
    color: var(--SoftRed);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-mask: var(--mask-bottom);
    mask: var(--mask-bottom);
}

span {
    display: block;
    color: var(--GrayishBlue);
    font-size: 10px;
    font-weight: bolder;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.social svg {
    cursor: pointer;
    fill: #8385A9;
}

.social svg:hover {
    fill: var(--SoftRed);
}

/* Credit */
.attribution {
    color: #bfbfbf;
    font-size: 8px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}

.attribution a {
    color: var(--GrayishBlue);
}

/* responsive */
@media screen and (max-width:700px) {
    body {
        background-size: 200% 20%;
    }

    h1 {
        font-size: 16px;
        margin-inline: 1.5em;
    }

    .container_clock {
        gap: 1em;
    }

    .card {
        font-size: 35px;
        width: 70px;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0px 5px var(--VeryDarkblue2);
    }

    .top,
    .bottom {
        padding-block: .5em;
    }

    span {
        font-size: 8px;
    }
}

@media screen and (max-width:300px) {
    h1 {
        font-size: 14px;
        margin-inline: 1em;
        letter-spacing: 5px;
    }

    .card {
        font-size: 25px;
        width: 50px;
    }

    span {
        letter-spacing: 0;
    }

    .attribution {
        font-size: 6px;
    }
}
